/* ------------------------------ 모바일웹 ------------------------------------ */

@media (max-width:768px) {
  body { margin: 0 8px;}
  /* 전체width 358px 기준 */
  /* 1.상단 팝업 */
  div#popup1 {
    display: flex;
    justify-content: space-around;
    height: 40px;
  }
  div#popup1 div:nth-child(1) {
    font-size: 14px;
    margin: 0 1vw;
    min-width: 260px;
    line-height: 40px;
  }
  div#popup1 div:nth-child(2) {
    font-size: 16px; 
    line-height: 40px;
    margin-right: 3vw;
  }
  div#popup1 div:nth-child(2) span {
    font-size: 17px;
    padding: 0 1px;
    font-weight: bold;
  }
  div#popup1 #span1 {
    display: none;
  }
  /* 1.상단 팝업 */

  /* 2.상단 GNB */
  header {
    width: auto;
    background-color: #ffffffc7;
    height: 60px;
    display: flex;
    justify-content: center;
  }

  div.logo {
    display: none;
  }
  .top-menu {
    margin-top: 3vw;
    margin-left: 0.1vw;
    display: flex;
  }
  .top-menu>ul>li {
    margin: 0 1vw;
    padding: 6px 0;
  }
  .top-menu a{
    font-size: 13px;
  }
  div.top-menu>ul {
    display: flex;
    justify-content: space-between;
  }
  .top-menu>ul>li>a {
    margin-bottom: 1vw;
  }

  .top-menu ul ul {
    left: -25px;
  }
  .top-menu ul li:nth-child(2) ul {
    left: -5px;
  }
  .top-menu ul li:nth-child(5) ul {
    left: -45px;
  }
  .top-menu ul ul>li {
    padding: 0 20px;
  }
  div.top-item {
    display: none;
  }
  div.icon {
    display: none;  
  }
  /* 2.상단 GNB */
  
  /* 3.상단 슬라이더 */
  /* #slide_head {
    height: 20%;
    width: 100%;
    margin: 0 2px;
  } */
  swiper-container.first {
    height: 100%;
    width: 100%;
    margin: 0 2px;
  }
  /* 3.상단 슬라이더 */

  /* 4.상단 아이콘 */
  .bigicon {
    width: 100%;
    display: none;
  }
  .bigicon img {
    width: 60px;
  }

  .bigicon>div:nth-child(1) {
    height: 80px;
  }
  .bigicon>div>ul>li {
    margin-top: 20px;
    padding: 0 0.1vw ;
  }
  .bigicon ul:nth-child(6) {
    display: none;
  }
  .bigicon ul:nth-child(7) {
    display: none;
  }
  .bigicon div {
    display: flex;
    justify-content:space-around;
  }

  .bigicon>div:nth-child(2) {
    display: flex;
    justify-content:space-around;
    margin: 0 2vw;
  }
  .bigicon>div:nth-child(2) a {
    min-width: 30px;
    font-size: 12px;
  }

  .bigicon>div>a {
    margin: 0 1vw;
  }
  .bigicon>div>a:nth-child(1) {
    margin-left: 0.5vw;
  }
  .bigicon>div>a:nth-child(2) {
    margin-left: 3vw;
  }
  .bigicon>div>a:nth-child(3) {
    margin: 0 0.1vw;
  }
  .bigicon>div>a:nth-child(4) {
    margin-left: 0.5vw;
  }
  .bigicon>div>a:nth-child(6) {
    display: none;
  }
  .bigicon>div>a:nth-child(7) {
    display: none;
  }
  /* 4.상단 아이콘 */
  /* 4-2.상단 아이콘2 */
  swiper-container.second {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 15%;
  }
  swiper-container.second span {
    font-size: 12px;
  }
  swiper-container.second img {
    width: 75px;
    height: 75px;
  }
  /* 4-2.상단 아이콘2 */

  /* 5.상단 이미지 */
  #topmainimg {
    width: 100%;
  }
  .toptext {
    width: auto;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    text-align: start;
    margin-top: 0.1px;
    margin-left: 10px;
  }

  .numtext {
    display: flex;
    justify-content: center;
  }

  div.numtext li {
    font-size: 14px;
  }
  div.numtext li {
    display: inline-block;
    min-width: 50px;
    padding: 1px 18px;
    border-bottom: 2px solid #fff;
  }

  div.topline {
    margin-bottom: 10px;
  }

  #topimage {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #topimage1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgflex {
    display: flex;
  }

  .spanflex2 {
    display: flex;
  }

  #topimage ul ul span {
    width: 160px;
    font-size: 12px;
  }

  #topimage div {
    width: 161px;
    height: 115px;
    margin: 10px 4px;
  }

  #topimage ul ul {
    margin-bottom: 5px;
    margin-left: 5px;;
    text-align: left;
  }

  #topimage div:nth-child(3) {
    display: none;
  }
  #topimage span:nth-child(3) {
    display: none;
  }
  #topimage ul ul span:nth-child(2) {
    margin: 0 2vw;
  }
  /* 5.상단 이미지 */

  /* 6.중단 이미지 */
  #downimage {
    margin: 0 auto;
    height: 390px;
  }

  #downimg22 {
    width: auto;
  }
  .downimage2 {
    display: inline-block;
    margin: 0 auto; 
  }

  .downimage2 ul li:nth-child(2) {
    display: none;
  }

  .downimage2 ul {
    width: 28vw;
    height: 100px;
    padding: 20px 30px;
    margin: 4px 4px;
    border-radius: 10px;
  }

  .downimage2 ul img {
    right: 15%;
    bottom: 10px;
    width: 60px;
  }

  .downimage2 ul li:nth-child(1) {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 5px;
    min-width: 20px;
  }

  .downimage2 ul li:nth-child(2) {
    font-size: 13px;
  }
  /* 6.중단 이미지 */

  /* 7.하단 아이콘 */
  #downicon {
    display: inline-block;
    width: auto;
    margin: 15px auto;
  }

  .downtext {
    height: 20px;
    font-size: 20px;
    line-height: 15px;
    margin: 10px 10px;
  }

  .downicon22 {
    display: flex;
    margin-left: -50px;
  }

  .downicon22 img {
    width: 60px;
  }
  /* 7.하단 아이콘 */

  /* 8.footer */
  #footer {
    margin: 0.1px 0;
    height: 325px;
    font-size: 13px;
    color: #999999;
    border-top: 1px solid #dfdfdf;
    padding-top: 10px;
  }
  .footer1 {
    width: auto;
    justify-content: center;
  }
  .footer1 ul:nth-child(1) {
    display: inline-block;
  }
  .footer1 ul:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .footer2 {
    width: auto;
    margin-left: 5px;
  }
  .footer2 ul {
    font-size: 11px;;
  }
  .footer2 ul:nth-child(1) {
    flex-direction: column;
  }
  .footer2 ul:nth-child(1) li {
    margin-bottom: 2px;
  }
  .footer2 ul:nth-child(1) img {
    display: none;
  }
  .footer2 ul:nth-child(2) {
    flex-direction: column;
  }
  .footer2 ul:nth-child(2) li {
    margin-bottom: 2px;
  }
  .footer2 ul:nth-child(2) img {
    display: none;
  }
  .footer2 ul:nth-child(3) li {
    display: none;
  }
  .footer2 ul:nth-child(4) li {
    display: none;
  }
  /* 8.footer */

  /* 9.side */
  #side1 img {
    width: 40px;
  }
  /* 9.side */

  /* 10.downbar */
  #downbar11 {
    display: inline-block;
  }
  /* 10.downbar */

  /* 11.menubar */
  .menubarblack.att {
    display: block;
  }
  /* 11.menubar */



  /* ------------------------------ subpage1 ------------------------------------ */

  /* 3.상단 이미지 */
  #subtopimg {
    width: auto;
    margin: 2px auto;
  }
  #subtopimg > img {
    width: 100vw;
    height: 40vh;
    border-radius: 5px;
    margin-left: -8px;
  }

  #subtopimg ul {
    display: flex;
    justify-content:flex-start;
    margin: 15px 10px;
  }
  
  #subtopimg ul:nth-of-type(1) {
    font-size: 18px;

  }
  #subtopimg ul:nth-of-type(1) li {
    display: inline-block;
    min-width: 250px;
  }
  #subtopimg ul:nth-of-type(2) li:nth-child(2) {
    display: inline-block;
    min-width: 250px;
    font-size: 14px;
  }

  #subtopimg ul:nth-of-type(3) li {
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 10px;
    font-size: 12px;
    /* min-width: 60px; */
  }

  #subtopimg ul:nth-of-type(3) li:nth-child(1) {
    min-width: 50px;
    text-align: center;
  }
  #subtopimg ul:nth-of-type(3) li:nth-child(2) {
    min-width: 40px;
    text-align: center;
  }
  #subtopimg ul:nth-of-type(3) li:nth-child(3) {
    min-width: 70px;
    text-align: center;
  }
  #subtopimg ul:nth-of-type(3) li:nth-child(4) {
    display: none;
  }
  /* 3.상단 이미지 */

  /* 4.상단 탭 */
  #subtab {
    margin: 12px 0;
  }

  .subtab1 {
    width: auto;
    height: 85px;
  }

  .subtab1 a {
    flex-direction: column;
    text-align: center;
  }
  .subtab1 a li {
    font-size: 9px;
    min-width: 50px;
  }
  .subtab1 a img {
    margin-top: 0.1px;
    margin-right: 0.1px;
  }
  .subtab1 div {
    margin: 0 3px;
    padding: 5px 5px;
    border-radius: 3px;
  }
  .subtab1 div:nth-child(3) {
    padding: 15px 10px;
  }
  .subtab1 div:nth-child(3) a {
    display: inline-block;
    min-width: 140px;
  }
  /* 4.상단 탭 */

  /* 5.하단 이미지 */
  .subdownimg11 {
    width: auto;
  }
  .subdownimg1 img {
    width: 100vw;
    height: 75vh;
    margin-left: -8px;
  }
  .subdownimg2 img {
    width: 100vw;
    height: 40vh;
    margin-left: -8px;
  }
  .subdownimg3 img {
    width: 100vw;
    height: 40vh;
    margin-left: -8px;
  }
  .subdownimg3 {
    margin: 20px 0;
  }
  .subdownimg1 div:nth-child(2) {
    min-width: 250px;
    margin: 0 20px;
  }
  .subdownimg2 div:nth-child(2) {
    min-width: 250px;
    margin: 0 20px;
  }
  .subdownimg3 div:nth-child(2) {
    min-width: 250px;
    margin: 0 20px;
  }
/* 5.하단 이미지 */

/* ------------------------------ subpage1 ------------------------------------ */


/* ------------------------------ subpage2 ------------------------------------ */
#customer {
  width: 100%;
  margin: 10px auto;
}
#customer1 {
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.cusflex {
  justify-content: space-around;
  margin-bottom: 60px;
  /* position: relative; */
}
.cusflex ul li:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cusflex ul li:nth-child(2) {
  font-size: 14px;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cusflex >li img {
  height: 110px;
  width: 110px;
}

.cusflex ul li:nth-child(4) {
  position: absolute;
}
.cusflex ul li:nth-child(4) img {
  width: 100px;
}
.cusflex ul li:nth-child(4) span {
  font-size: 14px;
}



/* ------------------------------ subpage2 ------------------------------------ */


/* ------------------------------ joinpage ------------------------------------ */
  
#article {
  padding: 10px 0;
  background-color: #F5F5F5;
}

#article h1 {
  font-size: 23px;
}

#top li {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

#top li span {
  margin-bottom: 10px;
}

#join {
  width: 320px;
  padding: 10px;
}

#top li input {
  height: 50px;
  width: 300px;
  padding: 5px;
  font-size: 12px;
}

#top li div {
  top: 90px;
  left: 20px;
}

#checklist1 {
  padding: 5px;
  font-size: 11px;
}

#checklist1 ul:nth-child(4) {
  display: none;
}

/* ------------------------------ joinpage ------------------------------------ */


}