@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {padding:0; margin:0; transition: transform .3s;}
a {text-decoration:none; color:#333; font-family: 'Noto Sans KR', sans-serif;}
ul,ol,li {list-style: none;}
body {font-size: 16px; color:#333; font-family: 'Noto Sans KR', sans-serif;}

/* 1.상단 팝업  */
div#popup1 {
  height: 70px;
  background-color: #fff0cf;
  text-align: center;
  overflow: hidden;
}

div#popup1 div:nth-child(1) {
  display: inline-block;
  line-height: 70px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 20vw;
}

div#popup1 div:nth-child(1) span {
  color: #e76a38;
}

div#popup1 div:nth-child(2) {
  display: inline-block;
  line-height: 70px;
  font-weight: lighter;
  font-size: 15px; 
}

div#popup1 div:nth-child(2) span {
  font-size: 14px;
  padding: 0 2px;
}
/* 1.상단 팝업  */


/* 2.상단 GNB */
header {
  height: 80px;
  width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 99;
}

.act33 {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0.5px 0.5px 3px #9c9c9c;
}

div.logo {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}

div.logo img {
  width: 60px;
    margin-left: 10px;
}

.top-menu {
  margin-top: 25px;
  margin-left: 80px;
  float: left;
  text-align: center;
}

.top-menu>ul>li>a {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 25px;
}

.top-menu>ul {
  display: inline-block;
}

.top-menu>ul>li {
  display: inline-block;
  margin: 0 18px;
}

.top-menu>ul>li a:hover {
  color: #f26c3a;
}

.top-menu li {
  position: relative;
}

.top-menu ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #9c9c9c;
  z-index: 10;
  background-color: #fff;
}

.top-menu ul ul>li {
  margin: 10px 0;
  padding: 0 25px;
}

.top-menu >ul>li:hover ul {
  display: block;
}

.top-menu a {
  white-space: nowrap;
}

div.top-item {
  float: left;
  width: 150px;
  height: 50px;
  margin: 15px;
  margin-left: 30px;
  background-color: #7cafdf;
  text-align: center;
  border-radius: 30px;
}

div.top-item>a {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #fff; 
}

div.top-item>a:hover {
  color: #333;
}

div.icon {
  float: right;
  margin: 15px;  
}

div.icon a {
  display: inline-block;
  font-size: 28px;
}

div.icon a:hover {
  color: #7cafdf;
}

div.icon a:nth-child(1) {
  margin-right: 20px;
}

div.icon a:nth-child(2) {
  margin-right: 20px;
}

div.icon>li {
  display: inline-block;
}

.top-menu2 >li {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}
.top-menu2 ul {
  position: absolute;
  top: 100%;
  left: -20px;
  width: 115px;
  display: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #9c9c9c;
  z-index: 10;
  background-color: #fff;
}
.top-menu2 ul>li {
  margin: 10px 0;
  padding: 0 25px;
}
.top-menu2 >li:hover ul {
  display: block;
}
.top-menu2 a {
  white-space: nowrap;
}
.top-menu2>li>ul>li>a {
  font-size: 16px;
}
/* 2.상단 GNB */

/* 3.상단 슬라이더 */
swiper-container.first {
  width: 1100px;
  height: 200px;
  z-index: 1;
}

.first swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* 3.상단 슬라이더 */

/* 4.상단 아이콘 */
.bigicon {
  width: 1100px;
  margin: 0 auto;
}

.bigicon>div>ul>li {
  float: left;
  margin-top: 30px;
  padding: 0 29px ;
}

.bigicon>div:nth-child(1) {
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.bigicon>div>a {
  margin: 0 42px;
}

.bigicon>div:nth-child(2)>a:hover{
  color: #7cafdf;
}

.bigicon>div>a:nth-child(1) {
  margin-left: 48px;
}

.bigicon>div>a:nth-child(2) {
  margin-left: 50px;
}

.bigicon>div>a:nth-child(4) {
  margin-left: 26px;
}
/* 4.상단 아이콘 */
/* 4-2.상단 아이콘2 */
swiper-container.second {
  width: 100vw;
  height: 105px;
  display: none;
}
.second swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second swiper-slide img {
  display: block;
  width: 85px;
  height: 95px;
  object-fit: cover;
}
/* 4-2.상단 아이콘2 */


/* 5.상단 이미지 */
#topmainimg {
  width: 1100px;
  margin: 0 auto;
}

.toptext {
  width: 100%;
  height: 100px;
  font-size: 35px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  margin-top: 30px;
}

div.numtext {
  text-align: center;
}

div.numtext li {
  display: inline-block;
  font-size: 18px;
}

div.numtext li {
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  border-bottom: 2px solid #fff;
}

div.numtext li:hover {
  color: #3085ED;
  border-bottom: 2px solid #3085ED; 
  font-weight: bold;
}

.num10.act{
  color: #3085ED;
  border-bottom: 2px solid #3085ED; 
  font-weight: bold;
}

.num20.act{
  color: #3085ED;
  border-bottom: 2px solid #3085ED; 
  font-weight: bold;
}

.num30.act{
  color: #3085ED;
  border-bottom: 2px solid #3085ED; 
  font-weight: bold;
}

.num40.act{
  color: #3085ED;
  border-bottom: 2px solid #3085ED; 
  font-weight: bold;
}

.done {color: #3085ED;}

div.topline {
  border-bottom: 1px solid #aaa6a6;
  margin-bottom: 20px;
}

#topimage div {

  border-radius: 10px;
  transform: scale(1.0);
}

#topimage div:hover img {
  transform: scale(1.1);
}

#topimage div  {
  width: 350px;
  height: 250px;
  overflow: hidden;
  background-color: #7cafdf;
}

#topimage div {
  margin: 10px 8px;
  overflow: hidden;
  float: left;
}

#topimage ul ul {
  text-align: center;
  margin-bottom: 20px;
}

#topimage ul ul span {
  width: 350px;
  display: inline-block;
  font-size: 15px;
}

#topimage ul ul span:nth-child(2) {
  margin: 0 12px;
}
/* 5.상단 이미지 */


/* 6.중단 이미지 */
#downimage {
  height: 490px;
  background-color: #f8f8f8;
  text-align: center;
}

#downimg22 {
  width: 1100px;
  margin: 0 auto;
}

.toptext {
  margin: 20px 0 ;
  padding-top: 30px;
}

.downimage2 {
  display: flex;
  justify-content: center;
}
.downimage2 nav {
  display: flex;
  justify-content: center;
}

.downimage2 ul {
  width: 180px;
  height: 220px;
  background-color: #3085ED;
  padding: 30px;
  border-radius: 20px;
  margin: 0 10px;
  text-align: left;
  position: relative;
}

.downimage2 nav:nth-child(1) ul:nth-child(1) {
  background-color: #579DFF;
}
.downimage2 nav:nth-child(1) ul:nth-child(2) {
  background-color: #37BBAB;
}
.downimage2 nav:nth-child(2) ul:nth-child(1) {
  background-color: #A993F8;
}
.downimage2 nav:nth-child(2) ul:nth-child(2) {
  background-color: #6E8CF8;
}

.act11 {
  animation-name: obj1;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
}
.act12 {
  animation-name: obj1;
  animation-duration: 1s;
  animation-delay: 1.1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
}
.act13 {
  animation-name: obj1;
  animation-duration: 1s;
  animation-delay: 1.7s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
}
.act14 {
  animation-name: obj1;
  animation-duration: 1s;
  animation-delay: 2.3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
}

@keyframes obj1{
  0%{ opacity: 0; transform: translateY(200px) scale(0.5);}
  100%{opacity: 1; transform: translateX(0px) scale(1);}
}

.downimage2 ul li:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
}
.downimage2 ul li:nth-child(2) {
  font-size: 15px;
}

.downimage2 ul li {
  color: #fff;
}

.downimage2 ul img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/* 6.중단 이미지 */

/* 7.하단 아이콘 */
#downicon {
  width: 1100px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.downtext {
  height: 100px;
  font-size: 35px;
  font-weight: bold;
  line-height: 100px;
}

.downicon22 a {
  margin: 0 5px;
}
/* 7.하단 아이콘 */


/* 8.footer */
#footer {
  margin-bottom: 40px;
  height: 160px;
  font-size: 13px;
  color: #999999;
  border-top: 1px solid #dfdfdf;
  padding-top: 30px;
}

.footer1 {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer1 ul:nth-child(1) {
  display: flex;
  margin-right: 10px;
}

.footer1 ul li {
  margin-right: 10px;
}

.footer1 ul a:nth-child(2) li {
  font-weight: bold;
}

.footer1 ul img {
  margin: 0 2px;
}

.footer2 {
  width: 1100px;
  margin: 0 auto;
}

.footer2 ul:nth-child(1) {
  display: flex;
  align-items: center;
}

.footer2 ul:nth-child(1) li {
  margin-right: 5px;
}

.footer2 ul:nth-child(1) li:nth-child(2) {
  font-size: 23px;
  margin-right: 15px;
  font-weight: bold;
}

.footer2 ul:nth-child(1) li:nth-child(1) img {
  width: 20px;
  align-self: center;
}

.footer2 ul:nth-child(2) {
  display: flex;
  align-items: center;
}

.footer2 ul:nth-child(2) li {
  margin-right: 5px;
}

.footer2 ul:nth-child(2) a {
  font-weight: bold;
  text-decoration: underline;
  color: #999999;
}

.footer2 ul:nth-child(3) li {
  margin: 15px 0;
}
/* 8.footer */

/* 9.side */
#side1 {
  position: fixed;
  right: 15px;
  bottom: 75px;
  display: none;
}
#side1 img {
  width: 60px;
}
/* 9.side */

/* 10.side2 */
#side2 {
  position: fixed;
  right: 0;
  top: 220px;
  width: 100px;
  background-color: #fff;
}

#side2>ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border: 0.5px solid #e0e0e0;
}

#side2>ul>span {
  font-size: 14px;
  margin-bottom: 10px;
}


#side2>ul>a>span {
  font-size: 12px;
}

.imgparent img {
  width: 80px;
  height: 70px;
}

.imgparent:hover .imgchild {
  display: inline-block;
}

.imgparent {
  position: relative;
  width: 80px;
  height: 70px;
  margin-bottom: 10px;
}
.imgchild {
  position: absolute;
  top: 0;
  left: -300px;
  display: none;
  width: 380px;
  height: 70px;
  border: 1px solid #333;
  background-color: #ffffffa4;
}
.imgchild div {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  z-index: 22;
}
.imgchild button {
  width: 25px;
  background-color: #333;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 100px;
}
.imgchild div span:nth-child(2) {
  font-size: 13px;
}


.imgparent2 img {
  width: 80px;
  height: 70px;
}

.imgparent2:hover .imgchild {
  display: inline-block;
}

.imgparent2 {
  position: relative;
  width: 80px;
  height: 70px;
  margin-bottom: 10px;
}

@media (max-width: 1400px) {
  #side2 {
    display: none;
  }
}
/* 10.side2 */

/* 11.downbar */
#downbar11 {
  display: none;
  /* width: 100%; */
}

#downbar {
  height: 60px;
  width: 96%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px -1px 3px #9c9c9c;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#downbar div {
  width: 66px;
  height: 26px;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
  margin-top: 10px;;
  color: #999999;

} 

#downbar div:nth-child(1) {
  color: #3085ED;
}

.barimg1 {
  background: url('../img/downbar/111.png') no-repeat 20px 0px / contain;
}
.barimg1.act {
  background: url('../img/downbar/112.png') no-repeat 20px 0px / contain;
}
.barimg2 {
  background: url('../img/downbar/222.png') no-repeat 20px 0px / contain;
}
.barimg2.act {
  background: url('../img/downbar/223.png') no-repeat 20px 0px / contain;
}
.barimg3 {
  background: url('../img/downbar/333.png') no-repeat 20px 0px / contain;
}
.barimg3.act {
  background: url('../img/downbar/334.png') no-repeat 20px 0px / contain;
}
.barimg4 {
  background: url('../img/downbar/444.png') no-repeat 20px 0px / contain;
}
.barimg4.act {
  background: url('../img/downbar/445.png') no-repeat 20px 0px / contain;
}
/* 11.downbar */

/* 12.menubar */
.menubarblack {
  height: 100%;
  width: 100%;
  background-color: #333333d3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

#menubar {
  width: 300px;
  height: 100%;
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y:scroll;
  animation-name: obj11;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
}
@keyframes obj11{
  0%{ opacity: 0; transform: translateX(-200px) scale(1);}
  100%{opacity: 1; transform: translateX(0px) scale(1);}
}

#menubar1 {
  background-color: #4983EB;
  padding: 20px;
}
#menubar1 div a {
  color: #fff;
}
#menubar1 div:nth-child(2) a {
  font-size: 18px;;
}
#menubar1 div:nth-child(2) a span {
  font-weight: bold;
}
#menubar1 div:nth-child(2) {
  margin: 15px 10px;
}
#menubar1 div:nth-child(3) {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
#menubar1 div:nth-child(3) img {
  display: block;
  margin: 0 auto;
}
#menubar1 div:nth-child(3) li a {
  font-size: 12px;
  text-align: center;
}

#menubar2 {
  padding: 5px;
}
#menubar2 ul {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
#menubar2 ul li {
  text-align: center;
}
#menubar2 img {
  width: 75px;
  height: 75px;
  display: block;
}
#menubar2 span {
  font-size: 13px;
}
.menubarline {
  height: 5px;
  background-color: #EEEEEE;
}

#menubar3 {
  padding: 20px 30px;
}
#menubar3 div {
  font-size: 15px;
  margin-bottom: 15px;
}

.stopscroll {
  overflow:hidden;
}


/* 12.menubar */




/* ------------------------------ subpage ------------------------------------ */

/* 3.상단 이미지 */
#subtopimg {
  width: 1100px;
  margin: 20px auto;
}

#subtopimg > img {
  width: 1100px;
  height: 500px;
  border-radius: 10px;
}

#subtopimg ul {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#subtopimg ul:nth-of-type(1) {
  font-size: 22px;
  font-weight: bold;
}

#subtopimg ul:nth-of-type(3) li {
  background-color: #F2F2F2;
  padding: 3px 10px;
  margin: 0 3px;
  border-radius: 10px;
  color: #999999;
}
/* 3.상단 이미지 */

/* 4.상단 탭 */
#subtab {
  width: auto;
  height: 85px;
  margin: 30px 0;
  z-index: 9;
  background-color: #ffffff8a;
}

.act55 {
  position: fixed;
  right: 0;
  left:0;
  top: 50px;
  box-shadow: 0 0.5px 2px #9c9c9c;
}

.subtab1 {
  width: 1100px;
  height: 85px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtab1 a {
  display: flex;
  align-items: center;
}

.subtab1 a img {
  margin-top: 7px;
  margin-right: 5px;
}

.subtab1 div {
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  background-color: #fff;
}

.subtab1 div:nth-child(3) {
  padding: 15px 50px;
  background-color: #FE7A3A;
}

.subtab1 div:nth-child(3):hover {
  background-color: rgb(206, 74, 8);
}

.subtab1 div:nth-child(3) a {
  color: white;
  font-weight: bold;
}
/* 4.상단 탭 */

/* 5.하단 이미지 */

#subdownimg {
  width: auto;
}

.subdownimg11 {
  width: 1100px;
  margin: 0 auto;
}

.subdownimg11 div {
  text-align: center;
}

.subdownimg1 img {
  width: 500px;
  height: 700px;
  text-align: left;
}

.subdownimg2 img {
  width: 800px;
  height: 500px;
}

.subdownimg3 img {
  width: 800px;
  height: 500px;
}

.subdownimg1 {
  margin: 20px 0;
}
.subdownimg2 {
  margin: 20px 0;
}
.subdownimg3 {
  margin: 40px 0;
}

.subdownimg22 {
  position: relative;
  display: inline-block;
}
.subdownimg23 {
  position: relative;
  display: inline-block;
}
.subdownimg24 {
  position: relative;
  display: inline-block;
}

.subdownimg22 img:nth-child(2) {
  width: 25px;
  height:40px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.subdownimg23 img:nth-child(2) {
  width: 25px;
  height:40px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.subdownimg24 img:nth-child(2) {
  width: 25px;
  height:40px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.subdownimg22 img:nth-child(2):hover {
  background-color: white;
}
.subdownimg23 img:nth-child(2):hover {
  background-color: white;
}
.subdownimg24 img:nth-child(2):hover {
  background-color: white;
}

/* 5.하단 이미지 */

/* ------------------------------ subpage ------------------------------------ */


/* ------------------------------ joinpage ------------------------------------ */

#article {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #F5F5F5;
}


#article h1 {
  margin: 0px auto;
  width: 250px;
  height: 60px;
}

#join {
  margin: 0px auto;
  width: 570px;
  padding: 40px;
  box-sizing: border-box;
  background-color: white;
}

#top li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}

#top li div {
  position: absolute;
  top: 55px;
  left: 130px;
  font-size: 13px;
  color: #d43838;
  /* display: none; */
}

#top li input {
  float: right;
  height: 50px;
  width: 370px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid;
}

#top #inputred1, #inputred2, #inputred3, #inputred4, #inputred5 {
  display: none;
}

#down div {
  display: flex;
  align-items: center;
}

#down div:nth-child(1) span {
  margin: 15px 10px;
  font-size: 16px;
}
#down div span {
  margin: 10px 10px;
  font-size: 13px;
}

#down div span li {
  display: inline-block;
  color: #d43838;
}

#down div span a {
  text-decoration: underline;
}

#label1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../img/join/666.png') no-repeat 0 0px / contain;
}
#myCheck1:checked+#label1 {
  background: url('../img/join/777.png') no-repeat 0 0px / contain;
}
#myCheck1 {
  display: none;
}

#label2 {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/join/666.png') no-repeat 0 0px / contain;
}
#myCheck2:checked+#label2 {
  background: url('../img/join/777.png') no-repeat 0 0px / contain;
}
#myCheck2 {
  display: none;
}

#label3 {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/join/666.png') no-repeat 0 0px / contain;
}
#myCheck3:checked+#label3 {
  background: url('../img/join/777.png') no-repeat 0 0px / contain;
}
#myCheck3 {
  display: none;
}

#label4 {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/join/666.png') no-repeat 0 0px / contain;
}
#myCheck4:checked+#label4 {
  background: url('../img/join/777.png') no-repeat 0 0px / contain;
}
#myCheck4 {
  display: none;
}

#checklist1 {
  padding: 10px;
  font-size: 13px;
  border: 1px solid #c7c7c7;
}

#checklist1 ul {
  display: flex;
  color: gray;
}

#checklist1 div {
  font-size: 14px;
  font-weight: bold; 
  margin-bottom: 5px;
}
#checklist1 ul li:nth-child(1) {
  width: 100px;
}

#join button {
  background-color: #7cafdf;
  width: 100%;
  height: 50px;
  border: 1px solid #7cafdf;
  font-size: 19px;
  margin-top: 20px;
  font-weight: bold;
}















/* ------------------------------ joinpage ------------------------------------ */

